/miscellaneous/node_modules
/miscellaneous/dist
*/.parcel-cache
/.parcel-cache
/FoodDeliveryApp/node_modules
/FoodDeliveryApp/dist
/FoodDeliveryApp/.parcel-cache
/FoodDeliveryApp/proxyServer/node_modules