
.header {
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
    padding : 1px 1px 1px 1px;
}

.nav-items > ul {
display : flex;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}

.filter-btn {
    padding : 10px 10px 10px 10px;
    text-align: center;
    cursor: pointer;
}

.res-img {
    width: 150px;
    height: 100px;
}

.res-card {
    border: 1px solid black;
    width : 170px;
    background-color: burlywood;
    height: 320px;
    margin : 10px;
    padding: 10px 10px 10px 10px;
}

.res-card:hover {
    cursor: point;
    width: 185px;
}

.res-container {
    display : flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer {
    background-color: darkgrey;
    position: static;
}

.footer > ul {
    display : flex;
}

.footer > ul > li {
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}

.shimmer-container {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.shimmer-card {
    border: 1px solid black;
    width : 170px;
    background-color: burlywood;
    height: 320px;
    margin : 10px;
    padding: 10px 10px 10px 10px;
}

.shimmer-card:hover {
    cursor: point;
    width: 185px;
}

.header-btn {
    width : 70px;
}

.filter {
    display: flex;
}